@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes/TTLakes-Medium.eot');
    src: url('../fonts/TTLakes/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "TT Lakes";
    font-weight: 500;
    font-style: normal;
}

button{
    border: none;
}


/* Шапка */
.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9FFF5;
    height: 88px;
}

.divider{
    height: 30px;
    border-radius: 1px;
    border: 1px solid #EAEAEA;
    margin-right: 20px; 
}

.header__left-side{
    display: flex;
    align-items: center;
}

.header__btn-burger {
    margin-left: 16px;
    margin-right: 16px;
    background: url(../img/burger.svg) center center no-repeat;
}

.header__divider-visible,
.header__contacts{
    display:none;
}

.header__logo{
    margin-right: 16px;
}

.header__right-side{
    display: flex;
    align-items: center;
}


.header__btn-group{
    margin-right: 16px;
    background: url(../img/repair.svg) center center no-repeat;

}
.header__btn-checkstatus {
    margin-right: 16px;
    background: url(../img/checkstatus.svg) center center no-repeat;
}
.header__btn-call{
    margin-right: 16px;
    background: url(../img/call.svg) center center no-repeat;
}
.header__btn-chat{
    margin-right: 16px;
    background: url(../img/chat.svg) center center no-repeat;
}
.header__btn-profile{
    background: url(../img/profile.svg) center center no-repeat;
}
.content__right-side{
    display: none;
    margin-left: auto;
}

.content__group,
.content__checkstatus{
    display:flex;
    align-items: center;
}

.right-side__text{
    color:#1B1C21;
    margin-right: 8px;
}



.btn{
    border-radius: 50%;
    width: 40px; 
    height: 40px;
    background-color: #FF3E79 ;
}


/* Основной контент */
.content{
    display: flex;
    flex-wrap: wrap;
    background-color: #F8F8F8;
}


.empty{
    width: 4px;
    height: 40px;
    border-radius: 0 25px 25px 0;
    background: #41F6D7;
}

.content__title {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    
}


.content_title{
    margin: 0;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 28px;
    line-height: 40px;
    color:#1B1C21;
}

.content__items{
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0;
    margin-left: 16px;
    margin-bottom: 24px;
    height: 40px;

}

.content__item{
    list-style: none;
    padding: 8px 13px 8px 13px;
}
.content__item_active{
    border: 2px solid #41F6D7;
    border-radius:6px ;
}
.content__item a{
    color:#7E7E82;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
} 

.content__first-block{
    display: flex;
    flex-direction: column;
}

.content_text{
    overflow: hidden;
    color: #1B1C21;
    height: 90px;
    font-size:14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.read-more{
    margin-bottom: 16px;
    margin-left: 16px;
    height: 24px;
}

.read-more__button{
    margin-left: 8px;
    padding: 0;
    border: none;
    background-color: #F8F8F8;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.read-more__button:hover{
    color:red;
}
.content__image
{
    width: 100%;
}
.content__image img{
    width: 100%;
    height: auto;
}



@media screen and (min-width: 768px) and (max-width: 1119px){

    .header__divider-visible{
        display:block;
        margin-left: 20px;
    }

   .header__contacts{
        display:flex;
    }

    .content__first-block{
        flex-wrap: wrap;
        margin-bottom: 40px ;
        width: 50%;
    }

    .content__title,
    .content__items{
        margin-bottom: 32px;
    }

    .content_text{
        height: 160px;
        line-height: 20px;
        margin-left: 24px;
        margin-right: 48px;
        margin-bottom: 10px;
    }

    .content__image{
        display: flex;
        width: auto;
        flex-grow: 1;
        margin-right: 25px;
        margin-bottom: 40px;
    }
    .read-more{
        margin-left: 25px;
        margin-bottom: 0;
        order: 1;
        margin-bottom: 14px;
    }
}



@media screen and (min-width: 1120px) {

    .header{
        display:none;
    }
    .content__right-side{
        display:flex;
    }

    .content__first-block{
        width: 50%;
        flex-wrap: wrap;
        margin-bottom: 49px ;
    }

    .content_title{
        margin-left:30px;
    }
    .content__items{
        margin-left: 32px;
        margin-right: 25px;
    }

    .content_text{
        height: 160px;
        line-height: 20px;
        margin-left: 34px;
        margin-right: 36px;
        margin-bottom: 14px;
    }
    .content__image{
        display: flex;
        width: auto;
        flex-grow: 1;
        margin-right: 29px;
        margin-bottom: 49px;
    }
    .read-more{
        margin-left: 40px;
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1420px){
    .header{
        display: none;
    }

    .content{
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}
